[Unit]
Description=UPS Power Outage Daemon
#After=syslog.target
After=network.target

[Service]
Type=forking
#Type=simple
#PIDFile=/var/run/upo.pid
# Note the -f: don't fail if there is no PID file
#ExecStartPre=/bin/rm -f /var/run/upo.pid
ExecStart=/home/user/ups_outage/ups_outage -i enp2s0 \
 -s /home/user/ups_outage/script.sh \
 -f -d -t 60
Restart=on-abort

[Install]
WantedBy=multi-user.target
